In [7]:
print("Hello")

Hello

## Pattern Questions

In [16]:
a=5
b=5
for i in range(a):
    for j in range(i+1,b):
        print("",end="*")
    print()

****
***
**
*

In [26]:
a=5

for i in range(1,a+1):
    print("*"*i)

*
**
***
****
*****

In [28]:
a=10
for i in range(a):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********
*********

In [29]:
rows = 4  
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    print("*" * i)
for i in range(rows - 1, 0, -1):
    # Print leading spaces
    print(" " * (rows - i), end="")
    # Print asterisks
    print("*" * i)

   *
  **
 ***
****
 ***
  **
   *

In [48]:
rows = 4  # Number of lines for the upper part
for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    print() 
for i in range(rows - 1, 0, -1):
    for j in range(rows - i):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    print()

   *
  **
 ***
****
 ***
  **
   *

In [37]:
rows = 10  # Number of lines for the upper part
for i in range(1, rows):
    for j in range(rows - i):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    print() 
for i in range(rows - 1, 0):
    for j in range(rows - i):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [81]:
row=6
for i in range(row):
    for j in range(1,row-i):
        if row%2!=0:
            print(" ",end="")
        else:
            print(" ",end="*")
    print()

 * * * * *
 * * * *
 * * *
 * *
 *

In [96]:
row=6
for i in range(row):
    for j in range(1,row-i):
        if row%2!=0:
            print(" ",end="")
        else:
            print(" ",end="*")
    print()
for i in range(row):
    for j in range(1,i+1):
        print("*",end="")
    print()
for i in range(-1,row):
    for j in range(1,row-i):
            print("",end="*")
    print()

 * * * * *
 * * * *
 * * *
 * *
 *


*
**
***
****
*****
******
*****
****
***
**
*

In [82]:
a=5
b=5
for i in range(a):
    for j in range(i+1,b):
        print("",end="*")
    print()
for i in range(1,a+1):
    print("*"*i)

****
***
**
*

*
**
***
****
*****

In [88]:
rows=6
for i in range(rows+1):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [91]:
rows=6
ascii=65
for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii)
        print(alphabet,end=" ")
    ascii+=1
    print()

A
B B
C C C
D D D D
E E E E E
F F F F F F

In [6]:
rows=5
ascii=65
for i in range(rows):
    for j in range(i,i+1):
        word=chr(ascii)
        print(word,end="")
        ascii+=1
    print(f"{word}",end="")

AABBCCDDEE

In [32]:

n = 5
ascii=65
for i in range(n):
    # For each line, we need to print letters starting from 'a' + i
    for j in range(i + 1):
        # Print the letter corresponding to 'a' + i + j
        word=chr(ascii + i + j)
        print(word, end='')
    # Move to the next line after printing all letters in the current line
    print()

A
BC
CDE
DEFG
EFGHI

In [29]:
rows=4
start=1
for i in range(rows):
    current=start
    for j in range(i+1):
        print(current,end="")
        current+=1
    print()
    start=current

1
23
456
78910

In [35]:
rows=5
start=65
for i in range(rows):
    for j in range(i+1):
        current=chr(start+i+j)
        print(current,end="")
    print()

A
BC
CDE
DEFG
EFGHI

In [39]:
rows = 10

# Upper half of the diamond
for i in range(rows // 2 + 1):
    if i == 0:
        print(' ' * (rows // 2) + '*')
    else:
        print(' ' * (rows // 2 - i) + '*' + ' ' * (2 * i - 1) + '*')

# Lower half of the diamond
for i in range(rows // 2 - 1, -1, -1):
    if i == 0:
        print(' ' * (rows // 2) + '*')
    else:
        print(' ' * (rows // 2 - i) + '*' + ' ' * (2 * i - 1) + '*')

     *
    * *
   *   *
  *     *
 *       *
*         *
 *       *
  *     *
   *   *
    * *
     *

In [40]:
rows = 5

for i in range(rows):
    if i == 0 or i == rows - 1:
        print(' '.join('*' * rows))
    else:
        print('*' + ' ' * (2 * (rows - 2) + 1) + '*')

* * * * *
*       *
*       *
*       *
* * * * *

In [42]:
rows = 5
for i in range(rows):
    # Print leading spaces
    print(' ' * (rows - i - 1), end='')
    # Print stars with spaces
    print(' '.join('*' * (i + 1)))

    *
   * *
  * * *
 * * * *
* * * * *

In [43]:
rows = 5

# Upper half of the diamond
for i in range(rows):
    if i == 0:
        print(' ' * (rows - i - 1) + '*')
    else:
        print(' ' * (rows - i - 1) + '*' + ' ' * (2 * i - 1) + '*')

# Lower half of the diamond
for i in range(rows - 2, -1, -1):
    if i == 0:
        print(' ' * (rows - i - 1) + '*')
    else:
        print(' ' * (rows - i - 1) + '*' + ' ' * (2 * i - 1) + '*')

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [44]:
rows = 5
for i in range(1, rows + 1):
    print(' '.join('*' * i))

*
* *
* * *
* * * *
* * * * *

In [45]:
rows = 5
for i in range(rows, 0, -1):
    print(' '.join('*' * i))

* * * * *
* * * *
* * *
* *
*

In [51]:
rows = 6
for i in range(1, rows + 1):
    print(' '.join('*' * i))
for i in range(rows, 0, -1):
    print(' '.join('*' * i))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [68]:
rows=5
for i in range(rows):
    if i==0:
        print(" "*(rows-i-1)+"A")
    else:
        print(" "*(rows-i-1)+"B"+" "*(2*i-1)+"C")
for i in range(rows-2,-1,-1):
    if i==0:
        print(" "*(rows-i-1)+"D")
    else:
        print(" "*(rows-i-1)+"E"+" "*(2*i-1)+"F")

    A
   B C
  B   C
 B     C
B       C
 E     F
  E   F
   E F
    D

In [121]:
for i in range(row):
    for j in range(1,i+1):
        print("*",end="")
    print()
for i in range(row):
    for j in range(0,row-i):
            print("",end="*")
    print()

*
**
***
****
*****
******
*****
****
***
**
*

In [128]:
rows=5
for i in range(rows):
    if i==0 and i==rows-1:
        print(" ",end="*")
    print()

In [131]:
rows = int(input("Enter the number of rows: "))  
m = (2*rows)-2
for i in range(rows-1,-1,-1):   
        for j in range(m,0,-1):  
            print(end="-")
        m += 1 
        for j in range(0, i+1):  
            print("*",end=" ")               
        print()

Enter the number of rows:  6

----------* * * * * *
-----------* * * * *
------------* * * *
-------------* * *
--------------* *
---------------*

In [135]:
def is_prime(num):
    """Check if a number is prime."""
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def largest_prime_less_than_or_equal(n):
    """Find the largest prime number less than or equal to n."""
    if n < 2:
        return None
    for num in range(n, 1, -1):
        if is_prime(num):
            return num
    return None

# Example usage
n = int(input("Enter a number: "))
result = largest_prime_less_than_or_equal(n)
if result:
    print(f"The largest prime number less than or equal to {n} is {result}.")
else:
    print(f"There are no prime numbers less than or equal to {n}.")

Enter a number:  50

The largest prime number less than or equal to 50 is 47.

In [138]:
def is_prime(num):
    """Check if a number is prime."""
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

num=int(input("Enter the number"))
result=is_prime(num)
if result:
    print(f"{num} is prime")
else:
    print(f"{num} is not prime")

Enter the number 50

50 is not prime

In [154]:
import pandas as pd
import numpy as np

# dictionary of lists
dict = {'id':[1, 4, np.nan, 9],
        'Age': [30, 45, np.nan, np.nan],
        'Score':[np.nan, 140, 180, 198]}

# creating a DataFrame
df = pd.DataFrame(dict)

df.isnull().sum()

# drop missing values
df.dropna(axis = 0, how ='any')

#replace null values with -999
df.replace(to_replace = np.nan, value = -999)

# Interpolate
df.interpolate(method ='linear', limit_direction ='forward')

    id   Age  Score
0  1.0  30.0    NaN
1  4.0  45.0  140.0
2  6.5  45.0  180.0
3  9.0  45.0  198.0

In [143]:
def str_replace(text,ch):
    result = ''
    for i in text: 
            if i == ' ': 
                i = ch  
            result += i 
    return result

text = "D t C mpBl ckFrid yS le"
ch = "a"

str_replace(text,ch)
# 'DataCampBlackFridaySale'

'DataCampBlackFridaySale'

In [148]:
def can_segment_str(s, dictionary):
    for i in range(1, len(s) + 1):
        first_str = s[0:i]
        if first_str in dictionary:
            second_str = s[i:]
            if (not second_str or second_str in dictionary or can_segment_str(second_str, dictionary)):
                return True
    return False
s = "datacamp"
dictionary = ["data", "camp", "cam", "lack"]
result=can_segment_str(s, dictionary)
print(result)

True

In [153]:
def can_segment_str(s,dictionary):
    for i in range(1,len(s)+1):
        first_str=s[0:i]
        if first_str in dictionary:
            second_str=s[i:]
            if (not second_str or second_str in dictionary or can_segment_str(second_str,dictionary)):
                return True
    return False

s="naurangil"
dictionary=["lal","naurangil","Naurang","gilal"]
can_segment_str(s,dictionary)

True